html {
  height: 100vh;
}

body {
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
  grid-template: "header" auto "nav" auto "main" auto "footer" auto;
  height: 100%;
	background-color: #dee3e7;
}

body.minimal {
	text-align: center;
}

main {
	padding: 1em;
  grid-area: main;
}

main h2 {
	border-bottom: 1px solid black;
	margin-bottom: 0;
}

main h3 {
	margin-bottom: 0;
	text-decoration: underline;
}

main h4 {
	margin-bottom: 0;
}

header {
  grid-area: header;
	background-color: #dee3e7;
	border-bottom: 1px solid black;
	margin: 0;
}

header p {
	margin: 0;
	margin-left: 1em;
}

section {
  background-color: white;
  padding: 1em;
  border-radius: .4em;
  margin-bottom: 1em;
  box-shadow: 0 0 .5em #9a9a9a;
}

section h2 {
	margin: 0;
}

section h1:first-child {
  font-size: small;
  margin: 0;
}

nav {
  grid-area: nav;
  background-color: black;
  display: flex;
  box-shadow: 0px 0px 10px #666;
}

nav ul {
	margin: 0;
	list-style: none;
	padding: .5em;
	padding-left: 1em;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	padding: .2em;
}

nav ul li a {
	color: white;
  text-decoration: none;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}

#navigationMain {
  flex-grow: 1;
}

footer {
  grid-area: footer;
	text-align: center;
}

main a, main a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.external, a.external:visited {
	color: deepskyblue;
}

fieldset {
	border: 0;
  padding: 1em;
  padding-left: 0;
}

label {
	vertical-align: top;
	width: 10em;
	display: inline-block;
}

p.code {
	background-color: lightgray;
	padding: 1em;
	font-family: monospace;
	white-space: pre;
}

table {
	border: 1px solid black;
  box-shadow: 0px 0px 2px #666;
}

td {
	border: 1px solid gray;
	padding: .6em;
}

th {
	font-weight: bold;
	text-align: left;
	padding: .6em;
	background-color: #efefef;
  text-transform: uppercase;
  border: 1px solid gray;
}

table {
	width: 100%;
	border-collapse: collapse;
}

textarea {
	height: 400px;
}

input {
	border: 1px solid white;
	border-bottom: 1px solid #ccc;
	font-family: Verdana, sans-serif;
	padding: .2em;
}

input:focus {
	border: 1px inset black;
	background-color: beige;

}

#headerLogo {
  max-width: 100%;
}

p.formValidationError {
	color: red;
}

pre, tt {
	background-color: #efefef;
	padding: .2em;
}

pre {
  box-shadow: 0px 0px 2px #666;
  padding: 1em;
}

tt {
	margin-left: 1em;
}

tt strong {
	font-style: italic;
}

dt {
	font-style: italic;
}

span.subtle {
	color: lightgray;
}

a[href^="doRegister"] {
	color: pink !important;
	font-weight: bold;
}

button {
  padding: .6em;
  border: 0;
  text-transform: uppercase;
  background-color: lightgreen;
  font-weight: bold;
  color: black;
  border: 1px solid #ccc;
  border-radius: .4em;
  font-size: 1.1em;
}

button:hover {
  background-color: #81e481;
  cursor: pointer;
}

#sidebarToggle {
  display: none;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}

#sidebarToggle:hover a {
}

div.list-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: .5em;
  text-align: center;
}

ul.no-bullets {
  list-style: none;
  padding-left: 1em;
}

@media only screen and (max-width: 600px) {
    header p {
      margin-left: 0;
    }

    header {
      border-bottom: 2px solid black;
    }
    
    body {
      display: grid;
      grid-template: 
        "header header" 0fr
        "nav main" 1fr
        "nav footer" 0fr / 0fr 1fr;
    }

    nav {
      flex-direction: column;
    }

    nav ul li {
      display: block;
    }

    #navigationMain {
      flex-grow: 0;
      border-bottom: 1px dotted gray;
    }

    #sidebarToggle {
      display: block;
    }
}
